<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Sign-up {% endblock title %}</title>
    <link
      href="https://unpkg.com/tailwindcss@^2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- navbar -->
    {% include "components/navbar.html" %}
    <!-- content -->
    {% block content %} {% endblock content %}
    <!-- footer -->
    {% include "components/footer.html" %}
  </body>
</html>
